html, body, label, select, h1, h2, ul, li, a, figcaption, p,
header, nav, footer, aside, figure, ol, section, img, textarea,
input, form {

  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

}
