<section class="container">
  <h1>Alec Johnson</h1>
  <p>Music Enthusiast</p>
  <p>Shout outs to Kanye West</p>

  <br/>

  <a href="https://www.facebook.com/AlecJohnson55" target="blank"><img src="<%= asset_path("facebook.png") %>"></a>
  <a href="https://github.com/ayyjohn" target="blank"><img src="<%= asset_path("github.png") %>"></a>
  <a href="https://twitter.com/PatchesUltimate" target="blank"><img src="<%= asset_path("twitter.png") %>"></a>
</section>
